<h1>Hello, Rails!</h1>

<ul>
  <% @articles.each do |article| %>
<!--    방법1-->
<!--    <li>-->
<!--      <a href="/articles/<%#= article.id %>">-->
        <%#= article.title %>
<!--      </a>-->
<!--    </li>-->
<!--    방법2(개선됨)-->
<!--    <li>-->
<!--      <a href="<%#= articles_path(article) %>">-->
        <%#= article.title %>
<!--      </a>-->
<!--    </li>-->
<!--    방법3(더 개선됨)-->
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>